<div id='container'>
  <div layout="row">
    <div class="center-form">
      <section class="venmo-button" layout="row" layout-sm="column" layout-align="center center">
        <md-button ng-show="!shouldNotBeClickable" ng-disabled="true" class="md-raised md-primary">Venmo Account Authorized</md-button>
        <md-button ng-show="shouldNotBeClickable" ng-click="authorize()" class="md-raised md-warn">Authorize Your Venmo Account!</md-button>
      </section>
      <form ng-submit="accountUpdate()">
        <div class="form-group" ng-controller="DemoCtrl" layout="column">
          <md-content layout-padding>
             <md-input-container >
               <md-icon md-svg-src="assets/email5.svg" class="email"></md-icon>
               <input ng-model="email" type="email" placeholder="Email (required)" ng-required="true">
             </md-input-container>
             <md-button type="submit" class="md-raised md-primary md-hue-1"> Save </md-button>
           </md-content>
      </form>
    </div>
  </div>
</div>


